In [1]:
import pandas as pd
import numpy as np
import ast
import json

In [2]:
#Cargamos la base de datos 'movies_dataset'
df = pd.read_csv("C:/Users/guard/OneDrive/Desktop/Henry Data Science/Proyecto MLOps/Datos/credits.csv", sep=",")

df.head(2)

,cast,crew,id
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844

In [3]:
# Función para intentar evaluar una string como lista de diccionarios
def safe_eval(entry):
    if isinstance(entry, list):
        return entry
    try:
        return ast.literal_eval(entry)
    except (ValueError, SyntaxError):
        return json.loads(entry.replace("'", '"'))

# Aplicar safe_eval a las columnas 'cast' y 'crew'
df['cast'] = df['cast'].apply(safe_eval)
df['crew'] = df['crew'].apply(safe_eval)

# Extraer los nombres del cast
df['cast_names'] = df['cast'].apply(lambda x: ', '.join(d['name'] for d in x) if isinstance(x, list) else '')

# Filtrar los nombres del crew cuyo departamento es 'Directing'
df['directing_names'] = df['crew'].apply(lambda x: ', '.join(d['name'] for d in x if d['department'] == 'Directing') if isinstance(x, list) else '')

# Seleccionar solo las columnas relevantes
df_final = df[['id', 'cast_names', 'directing_names']]

In [4]:

# Muestra el DataFrame resultante
df_final.head(2)

,id,cast_names,directing_names
0,862,"Tom Hanks, Tim Allen, Don Rickles, Jim Varney,...","John Lasseter, Roman Figun, Desirée Mourad"
1,8844,"Robin Williams, Jonathan Hyde, Kirsten Dunst, ...",Joe Johnston

In [5]:
# Exportar el DataFrame a un archivo CSV
df_final.to_csv('credits_dataset_procesado.csv', index=False)  # index=True incluye el índice en el archivo CSV